${SHARP} Python class to launch tests
${SHARP} Created on $today.date ( Time $today.time )

import unittest
import datetime

#foreach( $entity in $selectedEntities )
from unitTest.${entity.name}_unit_test import TestDao${entity.name}
#end


if __name__ == '__main__':

    unittest.main()
